@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    3rd year SBIT-3L<br />
    Aropon, Mark James B.<br />
</address>

<address>
    <strong>Facebook:</strong>   <a href="https://www.facebook.com/profile.php?id=100084432798769">Mark James Aropon</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>